<link rel="stylesheet" href="/css/partials/footer/style.css">
<footer>
    <center>
        <div class="bottom">
            Conditions of Use & Sale &nbsp;&nbsp;&nbsp; Privacy Notice &nbsp;&nbsp;&nbsp; IronKingdom.com, Inc. or its affiliates
        </div>
    </center>
</footer>