<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

        *,
        *::before,
        *::after {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Bree Serif', serif;
            font-weight: 500;
        }

        body {
            background: #eee;
        }
    </style>
</head>

<body>
    <%- include('./partials/header', { username: "" , logout: false }) -%>
    <a href="/signup">Create New Account</a>
    <a href="/login">Login</a>
</body>

</html>