<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/accounts/resetpassword/style.css">
    <title>Iron Kingdom Reset Password</title>
</head>

<body>
    <%- include('../partials/header', { logout: false }); -%>
    <section class="container">
        <section class="login">
            <h3>Password Assistance</h3>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Re-Type Password"
            required>
            <input type="hidden" name="hidden" id="hidden" value="<%= verificationKey %> ">
            <input type="submit" class="btn" value="Submit" id="submit">
            <hr>
        </section>
    </section>
    <%- include('../partials/footer') -%>
    <script src="/js/resetpassword/script.js"></script>
</body>

</html>