@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
    font-family: 'Bree Serif', serif;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.product {
    margin: 1em 2em;
    padding: 1em 1em;
    background: rgba(0, 0, 0, 0.05);
    width: 400px;
    border-radius: 4px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    transition: 50ms box-shadow ease-in-out;
}

.product:hover {
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.2);
}

.product img {
    border-radius: 4px;
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.product h4 {
    margin-bottom: 20px;
}

.popup-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0.502);
    display: none;
}

.update-product-popup {
    position: absolute;
    top: -150%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.15);
    width: 400px;
    height: 630px;
    background: #f5f5f5;
    z-index: 2;
    opacity: 0;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

body.showLoginForm {
    height: 120vh;
}

body.showLoginForm .popup-overlay {
    display: block;
}

body.showLoginForm .update-product-popup {
    opacity: 1;
    top: 52%;
    transform: translate(-50%, -50%) scale(1);
}

.update-product-popup .popup-close {
    position: absolute;
    top: -10px;
    right: -10px;;
    width: 40px;
    height: 40px;
    background: #555;
    color: #f5f5f5;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.update-product-popup .form .avatar {
    margin: 30px 0px 10px;
    text-align: center;
}

.update-product-popup .form .avatar img {
    width: 200px;
}

.update-product-popup .form .header {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #222;
    margin: 10px 0px;
}

.update-product-popup .form .element {
    padding: 8px 20px;
}

.update-product-popup .form .element input {
    width: 100%;
    padding: 8px 10px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #aaa;
    background: #eee;
    border-radius: 5px;
}

.update-product-popup .form .element input::placeholder {
    text-align: center;
}

.update-product-popup .form .element button {
    margin-top: 5px;
    width: 100%;
    padding: 10px 0px;
    text-transform: uppercase;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    background: #4889da;
    color: #f5f5f5;
} 

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 0.3s;
}

.popuptext {
    font-size: 0.8rem;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity:1 ;
    }
}

button,
.btn {
    border-radius: 3px;
    padding: 0.4em 1em;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    width: 80px;
    transform: scale(1);
    transition: 50ms transform ease-in-out;
    background-color: rgb(43, 255, 255);
}

button:hover {
    background-color: rgb(6, 235, 235);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

button:active {
    outline: none;
    transform: scale(0.9);
}

.btn,
.btn-add-to-cart {
    width: 130px;
    background-color: #555;
    color: #fff;
}

.btn:hover,
.btn-add-to-cart:hover {
    background-color: rgb(71, 55, 55);
}

#myBtn {
    display: none;
    position: fixed;
    width: 50px;
    bottom: 50px;
    right: 10px;
    z-index: 99;
    font-size: 0.7rem;
    border: none;
    outline: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: red;
}